
@font-face {
  font-family: geomanist-regular;
  font-style:normal;
  font-weight:400;
  src:  url(https://static.flipgrid.com/fonts/geomanist-regular-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-regular-webfont.woff) format("woff");
}
@font-face{
  font-family: geomanist-medium;
  font-style:normal;
  font-weight:400;
  src:  url(https://static.flipgrid.com/fonts/geomanist-medium-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-medium-webfont.woff) format("woff");
}
@font-face{
  font-family: geomanist-bold;
  font-style:normal;
  font-weight:700;
  src:  url(https://static.flipgrid.com/fonts/geomanist-bold-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-bold-webfont.woff) format("woff");
}

:root {  
  --gray: rgba(0,0,0,.1);
}

.App {
  background-color: #FFF;
  border: 1px solid var(--gray);
  border-radius: 12px;
  box-shadow: 0 0 10px var(--gray);  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: geomanist, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding: 2rem;
  width: 50vw;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h1 strong { font-weight: 700; }

label {
  font-weight: 700;
  line-height: 2;
}

label, input {display: block;}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input {
  border: 1px solid var(--gray);
  border-radius: 6px;
  font-size: 1em;
  line-height: 0;
  margin-bottom: 1rem;
  outline:none;
  padding: .5rem 1rem;
}
input.inValid {
  background-color: rgba(255,1,13,.1);
}

button {
  align-self: flex-end;
  background: linear-gradient(138deg,#ff5502,#ff017f,#ff010d);
  background-size:300% 100%;
  border-color: white;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;  
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background-position .25s cubic-bezier(.45,.05,.55,.95);
}
button:hover{
  background-position: 100% 0;
}
button:disabled {
  background-position: 0;
  cursor: default;
  filter: grayscale(75%) opacity(75%);
}

.resetLogo {
  bottom: 0.5rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  width: 6rem;
}
.resetLogo:hover{
  animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(2deg);}
  25% {transform: rotate(-4deg);}
  50% {transform: rotate(4deg);}
  75% {transform: rotate(-2deg);}
  100% {transform: rotate(0deg);}
}

@media screen and (max-width: 1024px){
  .App {
    width: 75vw;
  }
}
@media screen and (max-width: 720px){
  .App {
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
  }
}
