
@font-face {
  font-family: geomanist-regular;
  src:  url(https://static.flipgrid.com/fonts/geomanist-regular-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-regular-webfont.woff) format("woff");
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family: geomanist-medium;
  src:  url(https://static.flipgrid.com/fonts/geomanist-medium-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-medium-webfont.woff) format("woff");
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family: geomanist-bold;
  src:  url(https://static.flipgrid.com/fonts/geomanist-bold-webfont.woff2) format("woff2"),
        url(https://static.flipgrid.com/fonts/geomanist-bold-webfont.woff) format("woff");
  font-weight:700;
  font-style:normal;
}

:root {
  min-height: 100vh;
  --gray: rgba(0,0,0,.1);
}

.App {
  font-family: geomanist, Helvetica, sans-serif;
  background-color: #FFF;
  border: 1px solid var(--gray);
  border-radius: 12px;
  box-shadow: 0 0 10px var(--gray);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  width: 50vw;
}

h1 {
  font-weight: 400;
  margin: 0;
}
h1 strong { font-weight: 700; }

label {
  font-weight: 700;
  line-height: 2;
}

label, input {display: block;}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input {
  border: 1px solid var(--gray);
  border-radius: 6px;
  line-height: 0;
  margin-bottom: 1rem;
  outline:none;
  padding: .5rem 1rem;
  font-size: 1em;
}
input.inValid {
  background-color: rgba(255,1,13,.1);
}

button {
  background: linear-gradient(138deg,#ff5502,#ff017f,#ff010d);
  transition: background-position .15s cubic-bezier(.45,.05,.55,.95);
  background-size:300% 100%;
  border-color: white;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-self: flex-end;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}
button:disabled {
  filter: grayscale(75%) opacity(75%);
  cursor: default;
}

.resetLogo {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 6rem;
  cursor: pointer;

}
.resetLogo:hover{
  animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(2deg);}
  25% {transform: rotate(-4deg);}
  50% {transform: rotate(4deg);}
  75% {transform: rotate(-2deg);}
  100% {transform: rotate(0deg);}
}

