body {
  background-color: #F7F7F7;
  font-size: 18px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top:2rem;
  padding-bottom: 4.5rem;
  position: relative;
}